<section class="loading">
    <article class="loading-text">
        <span class="loading-text-words">C</span>
        <span class="loading-text-words">A</span>
        <span class="loading-text-words">T</span>
        <span class="loading-text-words">E</span>
        <span class="loading-text-words">G</span>
        <span class="loading-text-words">O</span>
        <span class="loading-text-words">R</span>
        <span class="loading-text-words">I</span>
        <span class="loading-text-words">A</span>
        <span class="loading-text-words">S</span>
    </article>
</section>

<section class="loading">
    <article class="loading-text">
        <p class="loading-text-words">A</p>
        <p class="loading-text-words">C</p>
        <p class="loading-text-words">C</p>
        <p class="loading-text-words">I</p>
        <p class="loading-text-words">O</p>
        <p class="loading-text-words">N</p>
    </article>
</section>

<app-movie-card class="grid place-items-center"></app-movie-card>


<section class="loading">
    <article class="loading-text">
        <p class="loading-text-words">E</p>
        <p class="loading-text-words">S</p>
        <p class="loading-text-words">T</p>
        <p class="loading-text-words">R</p>
        <p class="loading-text-words">E</p>
        <p class="loading-text-words">N</p>
        <p class="loading-text-words">O</p>
        <p class="loading-text-words">S</p>
    </article>
</section>

<app-estrenos class="grid place-items-center"></app-estrenos>


<section class="loading">
    <article class="loading-text">
        <p class="loading-text-words">T</p>
        <p class="loading-text-words">E</p>
        <p class="loading-text-words">R</p>
        <p class="loading-text-words">R</p>
        <p class="loading-text-words">O</p>
        <p class="loading-text-words">R</p>
    </article>
</section>

<app-terror class="grid place-items-center"></app-terror>


<section class="loading">
    <article class="loading-text">
        <p class="loading-text-words">R</p>
        <p class="loading-text-words">E</p>
        <p class="loading-text-words">C</p>
        <p class="loading-text-words">O</p>
        <p class="loading-text-words">M</p>
        <p class="loading-text-words">E</p>
        <p class="loading-text-words">N</p>
        <p class="loading-text-words">D</p>
        <p class="loading-text-words">A</p>
        <p class="loading-text-words">D</p>
        <p class="loading-text-words">O</p>
        <p class="loading-text-words">S</p>
    </article>
</section>

<app-recomendados class="grid place-items-center"></app-recomendados>