
<div class="wrapper">
    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhPnsfWFV0edWxTzex14vxshEojxR3OWgi5BGPVX3vUSfTkh8CXDLyUKXOaSsO8.SsjLcy61HjDaOjG.BRmeMqdQ--')">
        <div class="poster"><img src="../../../assets/recomendados/Keanu.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Keanu</h1>
            <h2>2016 • PG • 1hr 40min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Crimen</span>
                <span class="tag">Comedia</span>
            </div>
            <p class="desc">
                Key & Peele, el popular dúo cómico, interpretan a Clarence y Rell, dos primos que viven en la ciudad y que están muy lejos de ser unos rufianes. Cuando el querido gato de Rell, Keanu, es raptado, no tendrán más remedio que hacerse pasar por unos despiadados asesinos, con el objetivo de infiltrarse en una banda callejera y recuperar a su felino. Pero el increíblemente adorable gatito, se vuelve tan codiciado que tendrán que luchar por su custodia creando una guerra de pandillas, obligando a nuestros dos héroes a tomarse la justicia por su mano.          
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhZp10e4AvbNgeM3_Tdi3kfBBcS6bpdOhgUhAGXUOApo_Hvu4ntKyHPTBAG7D.vxEp25PyDHkVbRF.bYhFrv6oRw--')">
        <div class="poster"><img src="../../../assets/recomendados/VioletAndFinch.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Violet y Finch</h1>
            <h2>2022 • PG • 1hr 47min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5/5</span>
            </div>
            <div class="tags">
                <span class="tag">Romance</span>
                <span class="tag">Drama</span>
                <span class="tag">Beautiful</span>
            </div>
            <p class="desc">
                Violet y Theodore son dos amigos cuyo encuentro cambia sus vidas para siempre. Mientras luchan por dejar atrás las cicatrices de su pasado, descubren que incluso los momentos más insignificantes pueden tener una importancia crucial en sus vidas.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhc6oYWB0hFjyXP6sqSuMXXcb7m.pebrhL97CTxHweRlFJT.b0.vi_KwNrzDW0xThqKLX7.XjjIF.H19R9J_22yg--')">
        <div class="poster"><img src="../../../assets/recomendados/ElOrigen.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>El Origen</h1>
            <h2>2010 • PG • 2hr 28min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Ciencia Ficcion</span>
                <span class="tag">Aventura</span>
            </div>
            <p class="desc">
                Dom Cobb es un ladrón de secretos que se sumerge en los sueños de otros para extraer información. Para redimirse, debe implantar una idea en lugar de extraerla. En un viaje de sueños dentro de sueños, lucha por la redención mientras se enfrenta a su pasado que lo atormenta.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhNvlTcUpgZuRNlN6J4FA0IPXSGX.oO8XAFJnsdFfsk15nt5uU9l5Aon._nOzQfuTjPmeAPzd8qqYsBKRqs8oNng--')">
        <div class="poster"><img src="../../../assets/recomendados/interestelar.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Interestelar</h1>
            <h2>2014 • PG • 2hr 49min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5/5</span>
            </div>
            <div class="tags">
                <span class="tag">Ciencia Ficcion</span>
                <span class="tag">Aventura</span>
                <span class="tag">Drama</span>
            </div>
            <p class="desc">
                Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhMW7cJwH9dhW4rON4M8khXr03ZJZjbIOr11vXT8_Gwt7AlEWHcPY1b.G7xXKXlXKTBpbgmtWeRBV8bEVocohvCA--')">
        <div class="poster"><img src="../../../assets/recomendados/elDuro.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>El Duro</h1>
            <h2>2024 • PG • 2hr 1min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Suspenso</span>
                <span class="tag">Aventura</span>
            </div>
            <p class="desc">
                El ex luchador de la UFC, Dalton, acepta un trabajo como guardia en un bar sobre la carretera de los Cayos de Florida, sólo para descubrir que este paraíso no es todo lo que parece ya que se enfrenta a Conor McGregor.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhwDwR0UZb165FBPYTq7vtS_PXEaE7cL6cdIoEBffrkT6fUyETJkGIqAE8Skltwol1dAybUzVOMnNQIendku9Rag--')">
        <div class="poster"><img src="../../../assets/recomendados/laberintoFauno.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>El Laberinto del Fauno</h1>
            <h2>2006 • PG • 1hr 58min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span>5/5</span>
            </div>
            <div class="tags">
                <span class="tag">Fantasia</span>
                <span class="tag">Drama</span>
                <span class="tag">Guerra</span>
            </div>
            <p class="desc">
                Un cuento oscuro y mágico ambientado en la posguerra española. La joven Ofelia se adentra en un mundo de fantasía lleno de criaturas extrañas mientras lucha contra la brutalidad del mundo real. Con una mezcla de horror y maravilla, la película explora la lucha por la inocencia y la esperanza en tiempos de oscuridad.
            </p>
        </div>
    </div>
    
</div>

    
