<footer>
        <div class="logo-details">
          <img src="../../../assets/45110010ec84124f459308e070295332.png" (click)="redirectToHome()">
        </div>
        <span class="copyright_text">Copyright © 2024 <a href="#">Caleb Rodrigo Coronado M.</a> All rights reserved</span>
          <div class="icons">
            <a href="https://www.facebook.com/calebrodrigo.coronadomaqueda">
              <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-facebook-f"></span>
              </div>
              <div class="text">
                Facebook</div>
            </a>
            <a href="https://www.instagram.com/clyde_4488?igsh=MXZ0aHd0cHhhMDBzcQ==">
              <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-instagram"></span>
              </div>
              <div class="text">
                Instagram</div>
            </a>
            <a href="https://youtu.be/dQw4w9WgXcQ?si=AlTa4ommXuvq0cxK">
              <div class="layer">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fab fa-youtube"></span>
              </div>
              <div class="text">
                YouTube</div>
            </a>
          </div>
          
  </footer>