
<div class="wrapper">
    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXh4OJRYmOg8cB1Mojn1UW2o89fx42_laj50PIiti3Y_EbncCK9ybRnfBN_U3s_T6KFMXF9pfeOS3zCQy.189Fgsg--')">
        <div class="poster"><img src="../../../assets/accion/badboys.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Bad Boys: Hasta la Muerte</h1>
            <h2>2024 • PG • 1hr 55min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4.2/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Crimen</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Tras escuchar falsas acusaciones sobre su excapitán y mentor Mike y Marcus deciden investigar el asunto incluso volverse los más buscados de ser necesarios.            
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhaM8Iw2kk.i6izExpbo2rITwAg92xn5tSufZmXa6QZK734FLK6m38OQiuxUSFkw1LdLkqniAdcs1wcPi3tso4LA--')">
        <div class="poster"><img src="../../../assets/accion/ejecuta o muere.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>MR-9: Mision Mortal</h1>
            <h2>2023 • PG • 2hr 4min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Drama</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Masud Rana es un agente secreto con el nombre en clave MR-9 de la Agencia de Contrainteligencia de Bangladesh, que forma equipo con un agente de la CIA para acabar con una organización criminal internacional dirigida por un despiadado hombre de negocios.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://doood.site/fakeplayer.php?h=038_DvDgIOFtn0TDuS9PLIvno9o4alFtNgdy30Ej3fnNUCbRKqZ_OyNpmINPwh8iFBzfD1C1zkVCO6_5f6YH0R5sIlLAjtvqPdoH20NZklGP0zw-')"> 
        <div class="poster"><img src="../../../assets/accion/constantine.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Constantine</h1>
            <h2>2005 • PG • 2hr 1min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Fantasia</span>
                <span class="tag">Terror</span>
            </div>
            <p class="desc">
                Como Constantine, Keanu Papasito Hazme un Hijo Reeves, lucha contra un nuevo inframundo en este thriller impresionante y sobrenatural basado en los personajes de DC Comics/ Vertigo y las novelas de Hellblazer Graphic. Situada en una Ciudad de Ángeles donde las fronteras del mundo espiritual se han roto y el infierno está suelto. Agua bendita, un lanzallamas con aliento de dragón, un rifle con un crucifijo tallado. Armado con estos elementos y ayudado por una intrépida policía (Rachel Weisz), John Constantine, es un guerrero espiritual llevado a una guerra apocalíptica. Agradece que Constantine esté de tu lado.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://doood.site/fakeplayer.php?h=038_DvDgIOFtn0TDuS9PLIvnozxCHGwXWlX1NMtgtIUESVB8qe.TeDc_CXRukpXPTnm75aTlvtVeVckklg66JdDKGnoIe2I4clDPPzUh_Y9F7vE-')">
        <div class="poster"><img src="../../../assets/accion/mulan.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Mulán</h1>
            <h2>2020 • PG • 2hr 0min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Aventura</span>
                <span class="tag">Drama</span>
            </div>
            <p class="desc">
                Narra la historia de Mulán, una intrépida joven lo arriesga todo por amor a su familia y a su país hasta convertirse en una de las mayores guerreras de la historia de China. Cuando el emperador de China decreta que un hombre de cada familia debe servir en el Ejército Imperial para defender al país de los invasores del norte, Hua Mulán, la hija mayor de un condecorado guerrero, decide ocupar el lugar de su padre enfermo. Haciéndose pasar por un hombre, Hua Jun, se enfrenta a constantes desafíos y deberá aprender a canalizar su fuerza interior y a aceptar su verdadero potencial. Un viaje épico que la convertirá en una reconocida guerrera y le permitirá ganarse el respeto de una nación agradecida... y de un padre orgulloso. Remake del clásico de Disney.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhKM.HqZ0Ub8LWQNIUghtai83oBehqrOdNIzAvWZFfU1RlN9ZPd6M1QPa7KAMQyPh8Wwm6bw2mj8f25stL8Ty9Ug--')">
        <div class="poster"><img src="../../../assets/accion/godzillaVsKong.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Godzilla y Kong: El Nuevo Imperio</h1>
            <h2>2024 • PG • 1hr 55min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Ciencia Ficcion</span>
                <span class="tag">Aventura</span>
            </div>
            <p class="desc">
                Una aventura cinematográfica completamente nueva, que enfrentará al todopoderoso Kong y al temible Godzilla contra una colosal amenaza desconocida escondida dentro de nuestro mundo. La nueva y épica película profundizará en las historias de estos titanes, sus orígenes y los misterios de Isla Calavera y más allá, mientras descubre la batalla mítica que ayudó a forjar a estos seres extraordinarios y los unió a la humanidad para siempre.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://doood.site/fakeplayer.php?h=038_DvDgIOFtn0TDuS9PLIvno9X8I7XpK5P4aQc7WGdE3_SwVkJRhtE60pClHQBAoWKtkDKZjb43XhcfEFwCXD.gblgDHQEqxG3zip1tW0TnuIg-')">
        <div class="poster"><img src="../../../assets/accion/fuerzaBruta.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Fuerza bruta: Sin Salida</h1>
            <h2>2023 • PG • 1hr 45min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Crimen</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Secuela de la taquilera película de acción coreana The Roundup. Siete años después de la redada en Vietnam, Ma Seok-do se une a un nuevo escuadrón para investigar un asesinato. No tardará en indagar más cuando descubre que el caso tiene que ver con una droga sintética y una banda de matones.
            </p>
        </div>
    </div>
    
</div>

    
