
<div class="wrapper">
    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhYcfsqjRiDvEW6MElfylhluUF7Tqk0tlkqjsRcR2oAWQVmD_KA062qMCsxIWLGFNqo.UtufX6kAURbDaOsnLXQw--')">
        <div class="poster"><img src="../../../assets/terror/homeSweet.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Home Sweet Home - Wo das Böse wohnt</h1>
            <h2>2024 • PG • 1hr 24min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4.2/5</span>
            </div>
            <div class="tags">
                <span class="tag">Terror</span>
                <span class="tag">Crimen</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Actually, everything is going perfectly for Maria and Viktor: They are newly engaged, expecting their first child together and are moving into the large country house where Viktor grew up. However, when the heavily pregnant Maria has to spend an evening alone in the remote house, strange things happen. Viktor has to work long hours and Maria tries to get used to her new home, which still sends shivers down her spine. At first she thinks the strange occurrences such as power outages and mysterious noises from the basement are coincidence. But events get worse and worse and she slowly has to realize that she and her baby are not safe there. When contractions begin and the car keys mysteriously disappear, the night becomes a nightmare. What dark secrets does the house hold and what does Viktor's family have to hide?            
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhhuQCbX4vMO3UBz00uC3lWU9MgmaRk6NMArb9T3mbDV384gY7ySrBDtNsFZOZymPHRc39qyswJsloBaH7h0e15Q--')">
        <div class="poster"><img src="../../../assets/terror/chinitoTerror.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Mount Chiak</h1>
            <h2>2023 • PG • 1hr 25min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Terror</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Five members of the mountain bike club, Sangaja. To ride a mountain bike, we head to Chiaksan Mountain, where Min-joon's Uncle villa is located. After arriving at Chiaksan Mountain and enjoying the ride, strange things began to happen to the party…. And something unidentified chasing them! A desperate survival game for Sangaja's party to survive on Chiaksan Mountain begins.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhS6fuQyD9T0.9QEPxxTL7u55K1sbcuNqCQ2T0bsclvsFjSu0CxNKEx.48FwT71TGLErZjQKAdKEnzEfYauvpIig--')">
        <div class="poster"><img src="../../../assets/terror/ositosAsesinos.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Ositos Asesinos</h1>
            <h2>2022 • PG • 1hr 36min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Terror</span>
                <span class="tag">Comedia</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Después de no verse durante mucho tiempo, 5 amigos adolescentes que viven en la ciudad de Bangkok se van de vacaciones juntos, alojándose en un tranquilo resort aislado de la ciudad. Las cosas toman un giro oscuro, cuando se revela que cada uno de ellos tiene secretos ocultos y, sin que el grupo lo sepa, hay alguien observándolos.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXh4aFe5r_fpY9luARrw0sZeBRL2GLZjV4bDA801uTkB8lbv5_40AgZ0OlyI13z9TWlX05jMvXbpWTWAmGvHtw6kA--')">
        <div class="poster"><img src="../../../assets/terror/vigilantes.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Observados</h1>
            <h2>2024 • PG • 1hr 42min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Terror</span>
                <span class="tag">Misterio</span>
                <span class="tag">Fantasia</span>
            </div>
            <p class="desc">
                Mina, la artista de 28 años, queda varada en un extenso bosque virgen en el oeste de Irlanda. Al encontrar refugio, sin saberlo, queda atrapada junto a tres extraños que son observados y acechados por criaturas misteriosas cada noche.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhmeL2_6OQ8GxZMdPfYJacRpqpHQVbOwxwiQ.t_XLO3YGZ2sJmK0ICnEk07TLR2wycnbmmhr0l7jzGVTNjbTg43A--')">
        <div class="poster"><img src="../../../assets/terror/neverFindMe.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>You'll Never Find Me</h1>
            <h2>2024 • PG • 1hr 36min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Terror</span>
                <span class="tag">Ciencia Ficcion</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Patrick, un residente extraño y solitario, vive en una casa móvil en la parte trasera de un parque de caravanas aislado. Después de que estalla una violenta tormenta, una misteriosa joven aparece en su puerta, buscando refugio del clima. Cuanto más avanza la noche y más descubre la joven sobre Patrick, más difícil le resulta irse. Pronto ella comienza a cuestionar las intenciones de Patrick, mientras Patrick comienza a cuestionar su propio control de la realidad...
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXh17dut9L.Bcg_LFqEel463Azopy1RSpUI3PDvz56eVJav1JaCSWOp4T.9HzpTy338WaaDiBBflDdPfZOfgjMO.g--')">
        <div class="poster"><img src="../../../assets/terror/hija.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Ouija Clown</h1>
            <h2>2023 • PG • 1hr 15min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Terror</span>
                <span class="tag">Crimen</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                On Halloween night, two young girls decide to film an Ouija board session. Little do they know, their innocent game unleashes an evil spirit. Soon things take a terrifying turn as they become trapped in a nightmarish game of survival.
            </p>
        </div>
    </div>
    
</div>

    
