
<div class="wrapper">
    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhYIglDFQxeOlstj0kfy2Tgr8dvIz4vxSywsX_.9Qq6A3QN3aq3VaKIxJ8Uvy3PLUpH_vRJd521GwxOuHbFasQUw--')">
        <div class="poster"><img src="../../../assets/estrenos/chinitos.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Pinceladas de Amor</h1>
            <h2>2024 • PG • 1hr 58min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4.2/5</span>
            </div>
            <div class="tags">
                <span class="tag">Estreno</span>
                <span class="tag">Romance</span>
                <span class="tag">Drama</span>
            </div>
            <p class="desc">
                Akito Hayasaka es un artista con talento. Trabaja duro para ser aceptado en la exposición Nika, pero le descubren un tumor en el corazón y le dicen que le queda un año de vida. Akito no expresa sus emociones ante el diagnóstico. Un día, en la azotea del hospital, se encuentra con Haruna Sakurai, que está pintando. Haruna le dice que sólo le queda medio año de vida. Akito se siente cada vez más atraído por ella, pero no le cuenta nada de su enfermedad.            
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhIuxMV4wUeFtnC.Aud7f2PWzIETJjQOhbZdusyoruGugMePmrtT2U2QLrg2yI_PAzGXQTxQ5Gpfp3e00uBbPVyQ--')">
        <div class="poster"><img src="../../../assets/estrenos/southPark.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>South Park: El Fin de la Obesidad</h1>
            <h2>2024 • PG • 0hr 50min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Estrenos</span>
                <span class="tag">Animacion</span>
                <span class="tag">Comedia</span>
            </div>
            <p class="desc">
                La llegada de nuevos medicamentos para bajar de peso tiene un gran impacto en los residentes de South Park.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhQQRwOxVKDTX3drhpb7y0YUF3nmQDUpUmb1heRVkBPsowB_3TbN79YsAHVaB_7dcPCIjIPOXq4estnZkdGr1CXg--')">
        <div class="poster"><img src="../../../assets/estrenos/furiosa.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Furiosa: De la Saga Mad Max</h1>
            <h2>2024 • PG • 2hr 29min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Aventura</span>
                <span class="tag">Ciencia Ficcion</span>
            </div>
            <p class="desc">
                Mientras el mundo se derrumba, la joven Furiosa es secuestrada del Lugar Verde de Muchas Madres y cae en manos de una Horda de Motociclistas liderada por el Señor de la Guerra Dementus. Recorriendo la tierra baldía llega a la Ciudadela, presidida por Inmortan Joe. Mientras los dos tiranos luchan por el dominio de la zona, Furiosa deberá sobrevivir a muchas pruebas buscando volver a casa.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhg04nckIYFfjhFzk54e38DKfefiqaeYBinmSo36.K7a4j9zHvP0h0Wzn1zbvsj3vfQbYWgkHmVMtjb.mV9eAyFQ--')">
        <div class="poster"><img src="../../../assets/estrenos/horizon.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Horizon: An American Saga - Chapter 1</h1>
            <h2>2024 • PG • 3hr 1min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Estrenos</span>
                <span class="tag">Western</span>
                <span class="tag">Drama</span>
            </div>
            <p class="desc">
                Narra un lapso de 15 años de expansión y asentamiento del oeste estadounidense antes y después de la Guerra Civil.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhcDXH8y4O8hiyscOhBOANyapOIGG7fihiqW3yQ0bwRWeHpgNErJYSwILNSekuYbVDRu5VYnXCxa9ALYNZAiT6DA--')">
        <div class="poster"><img src="../../../assets/estrenos/intensamente.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Intensamente 2</h1>
            <h2>2024 • PG • 1hr 37min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Animacion</span>
                <span class="tag">Familia</span>
                <span class="tag">Aventura</span>
            </div>
            <p class="desc">
                Una aventura completamente nueva dentro de la cabeza adolescente de Riley que presenta un nuevo conjunto de emociones.
            </p>
        </div>
    </div>

    <div class="card" (click)="pelis('https://player.cuevana.biz/player.php?h=xPGVAASKY7nq8KaEgwASgW.S.E5Wr8HwqVsXXKaLwa4jcxTar5R5z5rnqpRyHEXhB099oZfU.gjMNq8cE40K8yxU2ejbXQxbydXzT16.RS50rmgS8PTO9IKoqrnSp62613vsGrg6MPIz.rxNIMDtrg--')">
        <div class="poster"><img src="../../../assets/estrenos/asiEmpezoElSilencio.avif" alt="Location Unknown"></div>
        <div class="details">
            <h1>Un lugar en Silencio: Día uno</h1>
            <h2>2024 • PG • 1hr 39min</h2>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span>4/5</span>
            </div>
            <div class="tags">
                <span class="tag">Accion</span>
                <span class="tag">Crimen</span>
                <span class="tag">Suspenso</span>
            </div>
            <p class="desc">
                Mientras la ciudad de Nueva York es invadida por criaturas alienígenas que cazan mediante el sonido, una mujer llamada Sammy lucha por sobrevivir.
            </p>
        </div>
    </div>
</div>

    
