<main>
    <app-header />
    <img class="ceroOne" src="../../assets/blur-01.svg">
    <img class="ceroTwo" src="../../assets/blur-02.svg">
    <img class="ceroThree" src="../../assets/blur-03.svg">
    <article class="banner">
      <figure class="slider" style="--quantity: 10">
        <figcaption class="item" style="--position:1"><img src="../../assets/recomendados/Keanu.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:2"><img src="../../assets/recomendados/elDuro.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:3"><img src="../../assets/accion/badboys.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:4"><img src="../../assets/terror/chinitoTerror.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:5"><img src="../../assets/recomendados/laberintoFauno.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:6"><img src="../../assets/estrenos/asiEmpezoElSilencio.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:7"><img src="../../assets/recomendados/interestelar.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:8"><img src="../../assets/recomendados/VioletAndFinch.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:9"><img src="../../assets/terror/neverFindMe.avif" alt="img"></figcaption>
        <figcaption class="item" style="--position:10"><img src="../../assets/terror/homeSweet.avif" alt="img"></figcaption>
      </figure>
      <section class="content">
        <h1 data-content="WELLCOME">WELLCOME</h1>
        <div class="model"></div>
      </section>
    </article>
    <app-movie-category ></app-movie-category>
    <app-footer></app-footer>
</main>